* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
}

.imagem-login-esquerda {
    width: 55%;
    height: 100vh;
    object-fit: cover;
}

.parte-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #ffffff;
    padding: 20px;
}

.titulo-rh,
.titulo-solutions {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px 0;
    margin-top: -150px;
}

.titulo-rh {
    font-size: 3.5rem;
    color: #005691;
    font-weight: 700;
}

.titulo-solutions {
    font-size: 3.5rem;
    color: #005791;
    font-weight: 200;
}

.titulos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.borda-azul {
    border: 1px solid #023a6738;
    padding: 20px 50px;
    width: 100%;
    width: 600px;
    height: 400px;
    border-radius: 20px;
    margin-top: 40px;
}

.subtitulo-entrar {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: 25px;
    color: #005691;
    font-weight: 600;
    margin-top: 40px;
}

.minititulo {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 25px;
    color: #448DCA;
    font-weight: 600;
    margin-top: -20px;
}

.caixa-email input {
    width: 100%;
    padding: 18px 40px;
    margin: 10px 0;
    font-size: 1rem;
    border: 1px solid #023a6775;
    border-radius: 999px;
    margin-top: 25px;
}

.esqueceu-senha {
    text-align: center;
    margin-top: 10px;
}

.esqueceu-senha a {
    font-family: Arial, sans-serif;
    color: #005691;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 30px;
    text-decoration: none;
}

.botao-enviar {
    font-family: Arial, sans-serif;
    background-color: #005691;
    padding: 12px 20px;
    border-radius: 999px;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    width: 100%;
    color: #fff;
}

.botao-enviar button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
}


/* Estilo para mensagem de erro */
.erro-mensagem {
    color: #ff4444;
    background-color: #ffe6e6;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid #ff4444;
}

/* Ajuste no botão */
.botao-enviar button {
    width: 100%;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    text-decoration: none;
}

.botao-enviar button:hover {
    opacity: 0.9;
}

.botao-enviar a {
    text-decoration: none;
    color: white;
}